// Keep text from overlapping icons
#titlewrap input {
	padding-right: 45px !important;
}

#titlewrap {
	flex-direction: row;
	display: flex;
	flex-wrap: nowrap;
}

#titlediv #title {
	width: 93.5%; // prevents button from breaking out on FF, and still be full width on Safari 8
	flex-shrink: 1;
	flex-grow: 2;
	flex-basis: auto;
}

button#duplicates {
	position: relative;
	top: -1px;
	padding: 0 10px 3px;
	vertical-align: top;
	height: 1.7em;
	width: 1.7em;
	border-color: #ccc;
	border-radius: 0 15px 15px 0;
	box-shadow: 0px 2px 1px #ccc;
	font-style: oblique;
	font-weight: bolder;
	font-size: 1.7em;
	line-height: inherit;
	text-shadow: 1px 1px 0 rgba(222, 217, 217, .49), -1px 1px 1px rgba(0, 0, 0, .67);
	background-color: #e4e4e4;
}

.dd_halt {
	background-image: url("../imgs/halt.gif");
	background-repeat: no-repeat;
	background-position: 99% 50%;
}

.dd_warning {
	background-image: url("../imgs/warning.gif");
	background-repeat: no-repeat;
	background-position: 99% 50%;
}

.dd_check {
	background-image: url("../imgs/check.gif");
	background-repeat: no-repeat;
	background-position: 99% 50%;
}

.dd_spinner {
	// The input is locked by js when this would be activated,
	// and some browsers wont apply the styles to locked fields
	// so we will complete this by doing it explicitly within the js
	background-image: url("../imgs/wpspin_light.gif");
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

button#duplicates:hover,
button#duplicates:active,
button#duplicates:visited {
	// removes annoying blue border on mouse exit
	border-color: #cccccc !important;
}

button#duplicates.disabled {
	top: 0px;
}

button#duplicates:hover {
	color: #387639;
}

button#duplicates:active {
	color: #387639;
	border-width: 1px;
	-webkit-box-shadow: 0 0px 0 #ccc;
	box-shadow: 0 0px 0 #ccc;
}

#duplicate-warning h3 {
	padding-left: 0;
	color: #db1111;
	//color: #ffb900;
	margin: 0;
}

#duplicate-warning li {
	padding-left: 10px;
}

#duplicate-error {
	color: #db1111;
	//color: #ffb900;
}

#dd_debug pre {
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
