// Keep text from overlapping icons
#titlewrap input{
  padding-right: 45px!important;
}

#titlewrap {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
}


#titlediv #title {
  width: 93.5%; // prevents button from breaking out on FF, and still be full width on Safari 8
  flex-shrink: 1;
  flex-grow: 2;
  flex-basis: auto;
}

button#duplicates {
  position: relative;
  top: -1px;
  padding: 0 10px 3px;
  vertical-align: top;
  height: 1.7em;
  width: 1.7em;
  border-color: #ccc;
  border-radius: 0 15px 15px 0;
  box-shadow: -1px 2px 1px #ccc;
  font-style: oblique;
  font-weight: bolder;
  font-size: 1.7em;
  line-height: inherit;
  text-shadow: 1px 1px 0 rgba(222, 217, 217, .49), -1px 1px 1px rgba(0, 0, 0, .67);
  background-color: #E2DCDC;
}

.dd_halt {
  background-image: url("../imgs/halt.gif");
  background-repeat: no-repeat;
  background-position: 99% 50%;
}
.dd_warning {
  background-image: url("../imgs/warning.gif");
  background-repeat: no-repeat;
  background-position: 99% 50%;
}
.dd_check {
  background-image: url("../imgs/check.gif");
  background-repeat: no-repeat;
  background-position: 99% 50%;
}
.dd_spinner {
  // The input is locked at this stage, so this is actually done with js as css styles don't work on all browser
  background-image: url("/wp-admin/images/wpspin_light.gif");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}

button#duplicates:hover,
button#duplicates:active,
button#duplicates:visited {
  // removes annoying blue border on mouse exit
  border-color: #cccccc!important;
}
button#duplicates.disabled{
  top: 0px;
}
button#duplicates:hover{
  color: #387639;
}
button#duplicates:active{
  color: #387639;
  border-width: 1px;
  -webkit-box-shadow: 0 0px 0 #ccc;
  box-shadow: 0 0px 0 #ccc;
}